h1 Delete Article
p Are you sure you want to delete the Article called #{@article.title}?
form action="/articles/#{@article.id}" method="POST"
 input type="hidden" name="_method" value="DELETE"
 input type="Submit" value="Delete Article"
a href="/articles" Cancel
