h1 Edit Article
form action="/articles/#{@article.id}" method="POST"
 input type="hidden" name="_method" value="PUT"
 fieldset
  legend Edit Article
  == slim :form
 input type="Submit" value="Update Article"
