label for="title" Title:
input.title type="text" name="article[title]" value="#{@article.title}" size="32"
br
label for="content" Content:
textarea.content name="article[content]" rows="12" cols="72" ==@article.content
br
