a href='/articles/new' Add a new article
h5 Articles
-if @articles.any?
  table class="table table-striped table-bordered table-condensed"
   thead  
    | <tr><th>Title</th><th>Content</th></tr>
   tbody  
   - @articles.each do |article|
    == slim :article, :locals => {article: article}
- else
  p No articles here , move along! 
