doctype html
html
 head
  title= @title || "manga 2013"
  script src="http://code.jquery.com/jquery.js"
  script src="/bootstrap/js/bootstrap.min.js"
  link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"
 body
  div class="navbar navbar-inverse navbar-fixed-top"
   div class="navbar-inner"
    div class="container"
     button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"
     span class="icon-bar"
     span class="icon-bar"
     span class="icon-bar"
      
    a class="brand" href="#" manga
    div class="nav-collapse collapse"
     ul class="nav"
      li 
       a href="#" Home
      li
       a href="#about" About
      li 
       a href="#contact" Contact
 div class="container"
  == yield
